<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Charts</title>
</head>
<body>
  <!-- get and display file names -->
  <div class="box">
    <%if(newFiles.length > 0){%>
  <%for(let i=0; i<newFiles.length; i++){%>

      <div class="items">
        <input class="check-box" type="checkbox">
        <p><%=newFiles[i]%></p>
      </div>
    <%}%>
  <%}else{%>
    <h3>Add a  .JSON data file to s3 Bucket to continue</h3>
  <%}%>

  <button type="button" name="button">Plot</button>
  </div>
  <!-- <form class="" action="/" method="post">
    <input id="json-file" type="file" name="getfile" value="">
    <button type="submit" name="button">Add File</button>
  </form> -->

  <div class="container">
    <canvas id="canvas" width="500" height="300"></canvas>
  </div>

 <form class="" action="/addfile" method="post">
   <input type="text" name="newFile1" value="" placeholder="file 1" autocomplete="off">
   <input type="text" name="newFile2" value="" placeholder="file 2" autocomplete="off">
   <button type="submit" name="button">SUBMIT</button>
 </form>

  <!-- chart data placed in h5 elements -->
  <%for(let i=0; i < chartData.length; i++){%>
    <div class="">
      <h5><%=chartData[i].x_values%></h5>
      <h5><%=chartData[i].y_values%></h5>
    </div>
  <%}%>

  <script src="./index.js" charset="utf-8"></script>

</body>
</html>
