<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Charts</title>
</head>
<body>
  <!-- get and display file names -->
  <div class="box">
    <%if(newFiles.length > 0){%>
  <%for(let i=0; i<newFiles.length; i++){%>

      <div class="items">
        <input class="check-box" type="checkbox">
        <p><%=newFiles[i]%></p>
      </div>
    <%}%>
  <%}else{%>
    <h3>Add a  .JSON data file to s3 Bucket to continue</h3>
  <%}%>

  <button type="button" name="button">Plot</button>
  </div>



  <div class="container">
    <canvas id="canvas" width="500" height="300"></canvas>
  </div>

  <!-- chart data placed in h5 elements -->
  <%for(let i=0; i < chartData.length; i++){%>
    <div class="">
      <h5><%=chartData[i].x_values%></h5>
      <h5><%=chartData[i].y_values%></h5>
    </div>
  <%}%>

  <script src="./index.js" charset="utf-8"></script>

</body>
</html>
