<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Charts</title>
</head>
<body>
  <h1><%=chartData.x_values%></h1>
  <h1><%=chartData.y_values %></h1>

</body>
</html>
